name: psc-action-new
on:
  push:
    branches: [ main, master, develop, stage, release ]
  pull_request:
    branches: [ main, master, develop, stage, release ]
  workflow_dispatch:  
jobs:
  build:
    runs-on: [ ubuntu-latest ]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        
      - name: PSC Upload file
        run: | 
          curl --header 'authorization: Bearer ${{ secrets.API_TOKEN }}' --header 'Group: ${{ secrets.GROUP_ID }}' --header 'Url: https://github.com/amarend/psc_phase1/blob/main/7z1900-x64.exe' 'https://protecode-sc.com/api/upload/'
